@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table tr td button {
  height: 100%;
  width: 100%;
  color: white;
}
.board {
  outline: 2px auto rgb(134,154,189);
  /* display: flex;
  margin: auto; */
}
.row {
  height: 50px;
}
.cell {
  width: 50px;
  height: 50px;
  outline: 1px solid rgb(134,154,189);
  display: inline-block;
}
